# Ignore node_modules
node_modules/

# Ignore build artifacts
build/

# Ignore serverless deployment artifacts
.serverless/

# Ignore environment variables file
.env

# Ignore TypeScript and test build artifacts (optional, depending on your setup)
*.log
*.tmp
coverage/
